@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Så er vi sateme hjemme!</h1>
    <p>Kan dette overhovedet ses? </p>
    </body>
</html>