  @model StudentApplication.Models.Entities.Student


        <div class="form-group">
        <label asp-for="FirstName"></label>
         <div><input asp-for="FirstName"></input></div>
        </div>

        <div class="form-group">
        <label asp-for="LastName"></label>
         <div><input asp-for="LastName"></input></div>
        </div>

        <div class="form-group">
        <label asp-for="EnrollmentDate"></label>
         <div><input asp-for="EnrollmentDate"></input></div>
        </div>

        <div class="form-group">
        <label asp-for="Age"></label>
         <div><input asp-for="Age"></input></div>
        </div>