@model StudentApplication.Models.Entities.Student
@{
    ViewBag.Title = "Create Student";
}


    <form action="/Student/Create" method="POST">
            @Html.Partial("_StudentsForm")
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-warning">Create</button>
                <a class="btn btn-info" asp-controller="Student" asp-action="Index">Back to list</a>
            </div>
        </div>
    </form>
    <p> </p>