@model StudentApplication.Models.Entities.Student
@{
    ViewBag.Title = "Edit Student";
}
<body>    

        <form asp-controller="Student"  asp-action="EditStudent" method="POST">
        <input class="form-control" type="Hidden" asp-for="StudentID">
        
        @Html.Partial("_StudentsForm")

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-warning">Accept Change</button>
                <a class="btn btn-info" asp-controller="Student" asp-action="Index">Back to list</a>
            </div>
        </div>
      </form>
    </body>