@model IEnumerable<StudentApplication.Models.Enrollment>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1></h1>
    <p>@foreach(var st in Model)
        {
            <p>@st.CourseID  @st.StudentID - @st.Grade  </p>
        } </p>
    </body>
</html>